<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>

    <key>teamID</key>
    <string>domenico.colucci@protonmail.com</string>

    <key>provisioningProfiles</key>
    <dict>
        <key>com.mimmo970.myTeamMan</key>
        <string></string>
    </dict>

    <key>compileBitcode</key>
    <false/>
</dict>
</plist>

